################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.tlog
*.obj
*.pdb
*.idb
*.pch
*.user
*.exe
*.db
*.opendb
*.log
*.suo
/Login/allexamples
